.workspace-container {
    display: flex !important;
    padding: 0 !important;
    z-index: 1;
    overflow: hidden;
    position: relative;
    max-width: 100% !important;
    min-height: 100vh;
    align-items: center;
    background-size: cover !important;
    justify-content: center;
    background-image: linear-gradient(180deg, #7b4bff 0%, #a35eff 100%);
    background-repeat: no-repeat !important;
    position: relative;
    overflow: hidden;
}

.workspace-container:before {
    content: '';
    background: url('../../asset/images/banner/bgr-ellipse1.png') no-repeat;
    width: 574px;
    height: 660px;
    z-index: -1;
    right: 0;
    position: absolute;
    top: 0;
}

.workspace-container:after {
    content: '';
    background: url('../../asset/images/banner/bgr-ellipse2.png') no-repeat;
    width: 508px;
    height: 555px;
    z-index: -1;
    right: 0;
    position: absolute;
    top: 0;
}

.hero-banner .shape {
    position: absolute;
    z-index: -1;
}

.hero-banner .shape-1 {
    left: 5%;
    top: 20%;
    animation: animationFramesOne 11s infinite linear alternate;
}

.hero-banner .shape-2 {
    left: 20%;
    top: 35%;
    animation: animationFramesThree 11s infinite linear alternate;
}

.hero-banner .shape-3 {
    left: 2%;
    top: 61%;
    animation: animationFramesEight 8s infinite linear alternate;
}

.hero-banner .shape-4 {
    left: 8%;
    bottom: 10%;
    animation: moveAround 20s linear infinite;
}

.hero-banner .shape-5 {
    right: 5%;
    top: 20%;
    animation: animationFramesFive 11s infinite linear alternate;
}

.hero-banner .shape-6 {
    right: 30%;
    top: 43%;
    animation: animationFramesThree 11s infinite linear alternate;
}

.hero-banner .shape-7 {
    right: 5%;
    top: 56%;
    animation: animationFramesOne 11s infinite linear alternate;
}

.hero-banner .shape-8 {
    right: 10%;
    bottom: 15%;
    animation: moveAround 20s linear infinite;
}

.hero-banner .shape-11 {
    left: 19%;
    bottom: 15%;
    animation: animationFramesSeven 11s infinite linear alternate;
}


.hero-banner .dots {
    width: 10px;
    height: 10px;
    background-color: #777af2;
    border-radius: 50%;
    animation: scaleAnimation 1s infinite alternate;
}

.hero-banner .shape-9 {
    left: 10%;
    top: 65%;
}

.hero-banner .shape-10 {
    right: 15%;
    top: 70%;
}

.hero-banner .shape-12 {
    right: 15%;
    top: 70%;
    animation: animationFramesSeven 11s infinite linear alternate;
    z-index: -1;
}